html {
  font-family: sans-serif,helvetica,Arial,"微软雅黑";
  font-size: 16px;
  color: #0F0F0F;
}

body {
  width:100%;
  background-color: #6cf;
}

a{
  text-decoration: none;
  color: inherit;
  transition: color 0.3s linear 0s;
}
a.turnred:hover{
  color:#F00;
}
i{
  color:#00F;
  margin:0px 0.2em;
}
#hah{
  display: inline;
}
